<a href="https://colab.research.google.com/github/viniciusmaia4509/viniciusmaia4509/blob/main/Workspace.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
dia_21_saldo_inicial = 1000

In [16]:
dia_21_transacao_1 = 293
dia_21_transacao_2 = -159.45
dia_21_transacao_3 = 464.98
dia_21_transacao_4 = -227.72

In [17]:
dia_21_saldo_final = dia_21_saldo_inicial +  dia_21_transacao_1 +  dia_21_transacao_2 + dia_21_transacao_3 +  dia_21_transacao_4

In [18]:
print(dia_21_saldo_final)

1370.81

--------------------------------------------------------------------------------

In [19]:
web_usuario = ['Vinícius Maia', 'maia.vinicius' , 'maia123' , 'maia.vinicius@gmail.com']

print(web_usuario)
print(type(web_usuario))

['Vinícius Maia', 'maia.vinicius', 'maia123', 'maia.vinicius@gmail.com']
<class 'list'>

In [21]:
idade = 23
saldo_em_conta = dia_21_saldo_final
status_conta = True

web_usuario = ['Vinícius Maia', idade , 'maia.vinicius' , 'maia123' , 'maia.vinicius@gmail.com', saldo_em_conta , status_conta]

print(web_usuario)
print(type(web_usuario))

['Vinícius Maia', 23, 'maia.vinicius', 'maia123', 'maia.vinicius@gmail.com', 1370.81, True]
<class 'list'>

--------------------------------------------------------------------------------

In [26]:
fabricantes_carros_italia = ['Ferrari' , 'Fiat']
fabricantes_carros_alemaes = ['BMW' , 'Audi']
fabricantes_carros = fabricantes_carros_italia + fabricantes_carros_alemaes

print(fabricantes_carros_alemaes)
print(fabricantes_carros_italia)
print(fabricantes_carros)

['BMW', 'Audi']
['Ferrari', 'Fiat']
['Ferrari', 'Fiat', 'BMW', 'Audi']

In [29]:
print(f'0: {fabricantes_carros[0]}')
print(f'-1 : {fabricantes_carros[-3]}')

0: Ferrari
-1 : Fiat

In [30]:
fabricantes_carros_italia = fabricantes_carros[0:2]
fabricantes_carros_alemaes = fabricantes_carros[2:len(fabricantes_carros)]

print('Italia: ' + str(fabricantes_carros_italia))
print('Alemães: ' + str(fabricantes_carros_alemaes))

Italia: ['Ferrari', 'Fiat']
Alemães: ['BMW', 'Audi']

In [34]:
print(fabricantes_carros)

fabricantes_carros[2] = 'BMW'
print(fabricantes_carros)

['Ferrari', 'Maserati', 'Maserati', 'Audi']
['Ferrari', 'Maserati', 'BMW', 'Audi']